<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>
    Profil Della
    </title>
</head>

<body>
<h1>Profil Saya</h1>
<img src="{% static 'DSC_0003.JPG' %}" width="300" height ="300"><br />
<h2>Perkenalan</h2>
Nama    : Della Patricia Siregar <br />
NPM     : 1906399436 <br />
Angkatan: 2019<br />
<h4>Hobi Anda</h4>
<ul>
    <li>Travelling</li>
    <li>Berenang</li>
    <li>Badminton</li>
</ul>
<h4> Deskripsi Tentang Saya </h4>
Saya adalah seseorang yang suka bekerja keras dan saya senang dengan hal-hal baru. <br />

<h4>Riwayat Pendidikan</h4>
SDK 6 Penabur <br />
2007 - 2013 <br />
SMPK 4 Penabur <br />
2013 - 2016 <br />
SMAN 21 Jakarta
2016 - 2019 <br />
Universitas Indonesia
2019 - 2023 (semoga) <br />

<h4>Anda bisa kontak saya di:</h4>
<a href="https://www.facebook.com/della.patricia"> Facebook </a>
</body>     
</html>